@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fdf7f4;
  --secondary-color: #000;
  --main-black: #131010;
  --secondary-black: #242424;
}

@layer components {
  .button {
    @apply w-full h-12 lg:h-14 bg-primary-color border border-black relative cursor-pointer;
  }

  .button-active {
    @apply bg-gray-200;
  }

  .button-black {
    @apply w-[70%] lg:w-[60%] h-9 lg:h-11 bg-secondary-black border border-black text-primary-color text-center flex items-center justify-start pl-2 lg:pl-6 cursor-pointer;
  }

  .button-black-active {
    @apply w-[70%] lg:w-[58%] h-9 lg:h-11 bg-black border border-black text-primary-color text-center flex items-center justify-start pl-2 lg:pl-6 cursor-pointer;
    @apply shadow-[rgba(0,_0,_0,_0.25)_-4px_0px_8px];
  }
}
